::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000101;
}

.top {
  width: 100%;
  height: 70px;
  display: flex;
}
.top .left,
.top .mid,
.top .right {
  width: calc(100% / 3);
}
.top .left {
  padding: 15px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
}
.top .mid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top .mid button {
  height: 50px;
  width: 50px;
  background-color: #1f1f1f;
  color: #b3b3b3;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 1.5rem;
}
.top .mid div {
  position: relative;
  width: calc(100% - 70px);
}
.top .mid div input {
  width: 100%;
  height: 50px;
  border-radius: 150px;
  border: none;
  outline: none;
  background-color: #1f1f1f;
  font-size: 1.1rem;
  padding: 15px 15px 15px 50px;
  color: white;
}
.top .mid div i {
  font-size: 1.5rem;
  color: #939292;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.top .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  color: #939292;
  font-size: 1.5rem;
  padding: 15px;
}
.top .right div {
  color: #000101;
  font-weight: bold;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.3);
}

.main {
  height: calc(100vh - 160px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .sidebar {
  height: 100%;
  width: 300px;
  background-color: #131312;
  border-radius: 10px;
}
.main .sidebar .title {
  color: white;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  border-bottom: 2px solid #393939;
}
.main .sidebar .title button {
  height: 40px;
  width: 40px;
  background-color: #1f1f1f;
  color: #b3b3b3;
  border-radius: 50%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
}
.main .sidebar .playlists {
  height: calc(100% - 100px);
  overflow: auto;
}
.main .sidebar .playlists .playlist {
  width: 95%;
  margin: auto;
  margin-top: 5px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main .sidebar .playlists .playlist.active {
  background-color: #4d4d4d;
  border-radius: 5px;
}
.main .sidebar .playlists .playlist img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}
.main .sidebar .playlists .playlist div {
  width: calc(100% - 30px - 60px);
  display: flex;
  flex-direction: column;
}
.main .sidebar .playlists .playlist div .pl-name {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.main .sidebar .playlists .playlist div .pl-info {
  color: #a1a1a0;
  font-size: 0.9rem;
}

.main .maincontent {
  height: 100%;
  width: calc(100% - 330px);
  background-color: #131312;
  border-radius: 10px;
  overflow: auto;
}
.main .maincontent .top {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding: 25px;
}
.main .maincontent .top img {
  height: 80%;
  border-radius: 10px;
}
.main .maincontent .top div {
  display: flex;
  flex-direction: column;
  color: white;
}
.main .maincontent .top div .pl-1 {
  font-size: 0.9rem;
}
.main .maincontent .top div .pl-2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.main .maincontent .top div .pl-3 {
  font-size: 0.9rem;
}
.main .maincontent .playlist-controls {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.main .maincontent .playlist-controls button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #acadae;
}
.main .maincontent .playlist-songs {
  width: 100%;
}
.main .maincontent .playlist-songs .song {
  width: 100%;
  height: 45px;
  min-width: 460px;
  display: flex;
  color: #a1a1a0;
  align-items: center;
  margin-bottom: 10px;
}
.main .maincontent .playlist-songs .song div {
  width: calc(100% / 3 - 30px);
}
.main .maincontent .playlist-songs .song span {
  margin-inline: 15px;
}
.main .maincontent .playlist-songs .song .songdetail {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.main .maincontent .playlist-songs .song .songdetail img {
  height: 40px;
  border-radius: 5px;
}
.main .maincontent .playlist-songs .song .songdetail div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .maincontent .playlist-songs .song .songdetail div .name {
  font-weight: bold;
  color: white;
}
.main .maincontent .playlist-songs .song .songdetail div .artist {
  color: #a1a1a0;
  font-size: 14px;
}

.main .maincontent .playlists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main .maincontent .playlists .playlist {
  color: white;
  display: flex;
  flex-direction: column;
  width: 180px;
  margin: auto;
  margin-bottom: 15px;
  gap: 5px;
}

.player {
  width: 100%;
  height: 90px;
  display: flex;
}
.player .left,
.player .mid,
.player .right {
  width: calc(100% / 3);
}

.player .left {
  padding: 0 15px;
  display: flex;
  color: white;
}
.player .left img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-block: auto;
}
.player .left div {
  margin-left: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.player .left span {
  display: block;
}
.player .left span.song {
  font-weight: bold;
}

.player .mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player .mid .player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.player .mid .player-controls button {
  background-color: transparent;
  color: #939292;
  font-size: 1.3rem;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.player .mid .player-progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.player .mid .player-progress div {
  width: 80%;
  height: 5px;
  background-color: #4d4d4d;
  border-radius: 100px;
}
.player .mid .player-progress div div {
  width: 16.4%;
  height: 100%;
  background-color: white;
}
.player .mid .player-progress span {
  color: #4d4d4d;
  font-size: 14px;
}

.player .right {
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: #939292;
  font-size: 1.3rem;
}

.player .right div {
  width: 30%;
  height: 5px;
  background-color: #4d4d4d;
  border-radius: 100px;
}
.player .right div div {
  width: 80%;
  height: 100%;
  background-color: white;
}

.expand {
  position: relative;
  height: calc(100vh - 160px + 70px);
}

.expand img.backgroundimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(100px);
}
.expand img.coverimage {
  width: 90%;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 25px;
  transform: translate(-50%,-50%);
}

@media only screen and (max-width: 1200px) {
  .top .left,
  .top .right {
    width: 20%;
  }
  .top .mid {
    width: 80%;
  }
  .main .maincontent .playlists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 950px) {
  .main .maincontent .playlists {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .top .left,
  .top .right {
    display: none;
  }
  .top .mid {
    width: 100%;
  }
  .player {
    position: relative;
  }
  .player .right {
    display: none;
  }
  .player .left,
  .player .mid {
    width: calc(100% / 2);
  }
  .player .mid {
    padding-inline: 15px;
  }
  .main .sidebar {
    width: 100px;
  }
  .main .sidebar .title h4 {
    display: none;
  }
  .main .sidebar .title button {
    margin: auto;
    margin-block: 15px;
  }
  .main .sidebar .playlists .playlist div {
    display: none;
  }
  .main .maincontent {
    width: calc(100% - 130px);
  }
  .main .maincontent .playlist-songs .song div:last-child {
    display: none;
  }
  .main .maincontent .playlist-songs .song div {
    width: calc(100% / 2 - 30px);
  }
  .main .maincontent .playlist-songs .song .songdetail div {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .player .mid .player-controls button {
    display: none;
  }
  #playbutton {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .player .mid .player-progress {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
  }
  .player .mid .player-progress span {
    display: none;
  }
  .player .mid .player-progress div {
    width: calc(100% - 30px);
  }
  .main .maincontent .playlists {
    grid-template-columns: 1fr;
  }
}